<div class="create-card mt-5" id="login-signUp-form">
    <h3 id="loginHeader">Login</h3>
    <form class="p-3">
        <label>Username</label>
        <input type="text" class="form-control" id="user" placeholder="Username">
        <label>Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password">
        <input type="button" value="Sign Up" class="btn btn-primary btn-sm mt-2 d-none" id="signUpBtn">
        <div id="buttons">
            <input type="button" value="Login" class="btn btn-primary btn-sm mt-4" id="loginBtn"><br><br>
            <a>Don't have an account? Create one here</a><br>
            <input type="button" value="Create New Account" class="btn btn-secondary btn-sm mt-2" id="newUserBtn">
        </div>
    </form>
</div>